body {
    font-family: 'Exo 2', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 200px;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 0;
}

.header-text {
    font-size: 15px;
    color: white;
    text-align: center;
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 30px;
    margin-top: 0;
}

.banner-image {
    background-image: url("images/donation6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    background-size: cover;
    position: relative;
}

.donate-button {
    background-image: linear-gradient(salmon, red);
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    margin-left: 630px;
    border-radius: 10px;
}

.amounts {
    display: flex;
    margin-left: 210px;
}

h2 {
    margin-top: 150px;
    font-size: 50px;
    text-align: center;
}

h3 {
    background-color: rgb(241, 239, 239);
    color: rgb(170, 166, 166);
    height: 80px;
    width: 160px;
    font-size: 40px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    padding-top: 40px;
}

#two-hundred {
    background-color: rgb(249, 214, 210);
    border: 2px solid salmon;
    color: salmon;
}

.donation-text {
    font-size: 15px;
    color: gray;
    text-align: center;
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 30px;
}

.input-field {
    border: none;
    border-bottom: 2px solid gray;
    width: 950px;
    margin-bottom: 80px;
    margin-top: 60px;
    margin-left: 240px;
    text-align: center;
    color: rgb(173, 173, 173);
    font-size: 25px;

}

.mission {
    display: flex;
}

.cards {
    width: 350px;
    height: 300px;
    margin-left: 60px;
    margin-bottom: 50px;
    padding: 50px 20px;
}

#card-1 {
    background-color: rgb(212, 233, 242);
}

#card-2 {
    background-color: rgb(249, 230, 233);
}

#card-3 {
    background-color: rgb(202, 212, 183);
}

.subscribe {
    height: 200px;
    width: 850px;
    background-color: rgb(253, 246, 192);
    margin-left: 300px;
    margin-bottom: 100px;
}

.email {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: gray;
    background-color: lightgrey;
    width: 400px;
    border: none;
    margin-left: 120px;
}

.submit {
    padding: 10px 40px;
    color: white;
    background-image: linear-gradient(salmon, red);
    font-weight: 700;
    width: 200px;
    border: none;
    margin-top: 80px;
    margin-left: -10px;
}

footer {
    background-color: black;
    height: 180px;
}

.footer-text {
    text-align: center;
    color: red;
    font-family: 'Oleo Script Swash Caps', cursive;
    padding-top: 50px;
    font-size: 40px;
}

.text2 {
    color: white;
    text-align: center;
}

.end-hunger {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 20px;
    padding: 50px 40px;
    text-align: center;
}

.hunger {
    display: flex;
}

.hunger-text {
    font-size: 30px;
    color: olive;
}

.hunger-link {
    color: orange;
    text-decoration: none;
}

span {
    color: orange;
}